body {
    display: inline-block;
    width: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
}
/*Header css*/
.nav {
    width: 100%;
    height: 10vh;
}
.title {
    float: left;
    font-size: xx-large;
}
.header-right {
    float: right;
    margin-right: 1%;
}

/*Main css*/
.main {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-flow: wrap row;
    overflow: hidden;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: inline-block;
    height: 50%;
    margin: 3%;
}
.card_picture {
    width: 100%;
    height: 60%;
}

/*Footer css*/
.footer {
    width: 100%;
    height: 10vh;
}
.footerText {
    text-align: center;
}