/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    transition: width, height 2s;
}

/* Control the left side */
.login {
    left: 0;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(33,33,185,1) 7%, rgba(0,212,255,1) 52%, rgba(255,255,255,1) 100%);
}

/* Control the right side */
.register {
    right: 0;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(210,122,122,1) 15%, rgba(184,47,47,1) 27%, rgba(172,0,0,1) 100%);
}

/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: white;
}


body {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", sans-serif;
}

.light-border {
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 1em;
    box-sizing: border-box;
}


figure {
    margin: 0;
    padding: 0;
}


input, button, select {
    display: inline-block;
    width: 100%;
    margin: .5em 0;
}

select {
    line-height: 1.5em;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

button{
    background-color: #ccc;
    color: #fff;
}

@media only screen and (max-width: 768px) {
    .split {
        height: 50%;
        width: 100%;
        top: auto;
        left: 0;
    }

    .login {
        background: rgb(56,56,56);
        background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(33,33,185,1) 7%, rgba(0,212,255,1) 52%, rgba(255,255,255,1) 100%);
    }

    .register {
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(210,122,122,1) 15%, rgba(184,47,47,1) 27%, rgba(172,0,0,1) 100%);
        right: auto;
        bottom: 0;
    }
}