<!-- views/partials/header2.ejs -->
<div class="header-left">
    <a class="title">InstaTrash - "a motivational slogan"</a>
    <picture>
        <a href="/home_user"><img src="./img/logo.png" class="logo" alt="Logo"></a>
    </picture>
</div>
<div class="header-right">
    <form action="logout?_method=DELETE" method="post">
        <button type="submit" class="header-login">Log out</button>
    </form>
    <button onclick="window.location.href='/listing'" class="header-listing">Listing</button>
    <button onclick="window.location.href='/account'" class="header-account">Account</button>
    <button onclick="window.location.href='/home_user'" class="header-home">Home</button>
</div>