<!-- views/partials/header.ejs -->
<div class="header-left">
    <a class="title">InstaTrash - "a motivational slogan"</a>
    <picture>
        <a href="/home"><img src="./img/logo.png" alt="Logo"></a>
    </picture>
</div>
<div class="header-right">
    <button onclick="window.location.href='/home'" class="header-home">Home</button>
    <button onclick="window.location.href='/login'" class="header-login">Login/Register</button>
</div>