<!-- views/partials/header.ejs -->

<div class="header-left">
    <a class="title">InstaTrash - "a motivational slogan"</a>
    <img src="../../public_html/img/logo.png" alt="Logo">
</div>
<div class="header-right">
    <button onclick="window.location.href='home.html'" class="header-home">Home</button>
    <button onclick="window.location.href='login.html'" class="header-login">Login/Register</button>
    <button onclick="window.location.href='listing.html'" class="header-listing">Create a listing</button>
</div>