<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" type="text/css" href="../public_html/css/stylesheet.css">
</head>
<body>
<header>
    <%- include('partials/header') %>
</header>

<div class="no-split">
    <div id="main">

    </div>
    <div>
        <h3>Hi <%= name%></h3>
        <form action="/logout?_method=DELETE" method="post">
            <button type="submit">Log out</button>
        </form>
    </div>
</div>
<footer>
    <%- include('partials/footer') %>
</footer>
</body>
</html>

