<!-- views/login.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <%- include('partials/head') %>
</head>
<body>
<header>
    <%- include('partials/header') %>
</header>

<div class="no-split panel">
    <div class="centered">
        <h3>Login</h3>
        <% if (messages.error) { %>
            <%- messages.error %>
        <% } %>
        <form action="/login" method="post" class="light-border">
            <div>
                <label for="email">Email</label>
                <input class="light-border" type="text" id="email" name="email" required>
                <label for="name">Password</label>
                <input class ="light-border" type="text" id="password" name="password" required>
            </div>
            <div>
                <button class="light-border" type="submit">Login</button>
            </div>
        </form>
        <a href="/register">Register</a>
    </div>
</div>
<footer>
    <%- include('partials/footer') %>
</footer>
</body>
</html>