<!-- views/register.ejs -->

<!-- Register page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
<header>
    <%- include('partials/header') %>
</header>

<div class="no-split panel">
    <div class="centered">
        <h3>Register</h3>
        <form action="/register" method="post" class="light-border">
            <div>
                <label for="name">Name</label>
                <input class="light-border" type="text" placeholder="Your Full Name" id="name" name="name" required>
                <label for="email">Email</label>
                <input class="light-border" type="email" placeholder="Your Email Address" id="email" name="email" required>
                <label for="phone">Phone Number</label>
                <input class="light-border" type="text" placeholder="i.e. 0401234567" id="phone" name="phone" required>
                <label for="password">Password</label>
                <input class="light-border" type="password" placeholder="Enter Password" id="password" name="password" required>
                <label for="checkbox">Show Password</label>
                <input class ="checkbox" type="checkbox" id="checkbox" onclick="showPassword()">
                <label for="confirm_password">Confirm Password</label>
                <input class="light-border" type="password" placeholder="Confirm Password" id="confirm_password" required>
            <div>
                <button class="light-border" type="submit">Register</button>
            </div>
        </form>
        <a href="/login">Login</a>
    </div>
</div>
<footer>
    <%- include('partials/footer') %>
</footer>
<script src="./js/password.js"></script>
</body>
</html>